.download_btn {
	position: fixed;
	bottom: 20px;
	left: 20px;
	background-color: #4caf50; /* 녹색 배경 */
	color: white; /* 글자 색상 흰색 */
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	border-radius: 5px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.download_btn:hover {
	background-color: #45a049; /* 살짝 어두운 녹색으로 변경 */
	box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}
