.coords-container {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	margin-top: 0;
}

.input_lat,
.input_lon {
	width: 30vw;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	font-size: 16px;
	outline: none;
	transition: border-color 0.3s ease;
}

.input_lat:focus,
.input_lon:focus {
	border-color: #007bff;
}

.trans_btn {
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px 15px;
	font-size: 16px;
	margin-left: 10px;
	cursor: pointer;
	transition: background-color 0.3s ease, transform 0.2s ease;
}

.trans_btn:hover {
	background-color: #0056b3;
	transform: translateY(-2px);
}

.trans_btn:active {
	background-color: #004494;
	transform: translateY(0);
}
